

 
:root {
    --color-primary-white: #fff;
    --color-primary: #d4d8d8;
    --color-secondary: #0D0D0D;
    --color-grey-light: rgba(51, 49, 49, 0.192);
    --color-grey-light-2: #737373;
    --color-grey-light-3: #404040;
  
    --color-grey-dark-1: rgb(0, 0, 0);
    --color-grey-dark-2: #777;
    --color-grey-dark-3: rgb(44, 41, 41);
  
    --color-main: #1C4859;
    --color-main-light: #A0D9D9;
    --color-red-light: #F23E2E;
    --color-red-dark: #F20505;
    --color-red-brown: #590202;
    --color-grey-: #D9D7D7;
  
    --shadow-dark: 0 5rem 6rem rgba(0,0,0,.4);
    --shadow-medium: 0 2rem 5rem rgba(0, 0, 0, 0.185);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.16);
    --line: 1px solid var(--color-grey-light-2); }
  
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
   }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit; 
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%; 
  }
  /*
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 55%; } }
    @media only screen and (max-width: 48em) {
    html {
        font-size: 55%; } }
  
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 31.25em) {
      html {
        font-size: 50%;
      } }
 
  @media only screen and (max-width: 31.25em) {
    html p {
      font-size: 2rem;
    } }
    @media only screen and (max-width: 30em) {
        html p {
          font-size: 2rem;
        } }   */
  @media only screen and (max-width: 26.25em) {
      html p{
        font-size: 2.4rem;
      } }
 
  

body {
    font-family: 'Courier Prime', monospace;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-1);
    background-color: var(--color-primary-white);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    max-width: 144rem;
    margin: 0 auto;
    }

    @media screen and (max-width: 480px) {

      html, body {
        min-width: 320px;
      }
    
    }


.container {
    max-width: 144rem;
    background-color: var(--color-primary-white);
    margin: 0 auto;

    display: grid;
    grid-template-rows: 20vh 80vh 80vh 80vh 40vh min-content 100vh repeat(3, min-content);
    grid-template-columns: [full-start]repeat(8, min-content(min-content, 14rem)) [full-end];
}  

@media only screen  and (max-width: 1200px) {
    .container {
        grid-template-rows: 20vh 60vh 80vh 60vh 40vh min-content 90vh repeat(3, min-content);
     } 
  }
  @media only screen  and (max-width: 768px) {
    .container {
        grid-template-rows: 30vh 80vh min-content 80vh 60vh min-content 100vh repeat(3, min-content);
     } 
  }

  @media only screen 
and (min-device-width : 420px) 
and (max-device-width : 1048px) 
and (orientation : landscape)  {
  .container {
    grid-template-rows: 60vh min-content min-content 90vh min-content min-content min-content repeat(3, min-content);

  }
}

.header {
    background-color: var(--color-primary-white);
    grid-column: 1 / 1;
    
    display: flex;
    flex-direction: column;
  
}

  /*
@media only screen and (max-width: 1026px) {
    .show {
      display: none;} }
@media only screen and (max-width: 670px) {
    .show1 {
      display: none;} } */
  
  
  .nav-top { 
    max-width:144rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  
  .logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px; 
  }
  
  .login {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  
  
  .logo-size {
    width: auto;
    height: auto;
  }
  
  @media screen and (max-width: 544px) {
    .logo-size {  
        width: 22rem;
        height: 8rem;
    }
  }
  
  .icon-box {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2px;
    width: 3rem;
    height: 3rem;
    fill: #1C4859;
  }
  
  
  .btn {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    padding: 4px 8px; 
  }

  
  .button-l,
  .button-r { 
    padding: 1.2rem 4rem;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight:600;
      text-decoration: none;
    border-radius: 2px; 
    margin-left: 4px;
   
    background-color: var(--color-main);
    color: #fff;
    border-radius: 4px;
    /*box-shadow: var(--shadow-medium); */
    cursor: pointer;
    transition: all 0.2s;
  }
  button:focus { outline: none;}
  
  .button-l:hover,
  .button-r:hover  { 
    background-color: var(--color-main-light);
    color:var(--color-main);
  
  
  }
  @media screen and (max-width: 544px) {
    .button-l,
    .button-r{  
        padding: 1.6rem 6rem;
        font-size: 1.6rem;
    }
  }
  
  .button-l{
    background-color: var(--color-primary-white);
    color: rgb(54, 51, 51);
    border: .6px solid rgb(184, 179, 179);
  }
  
  .button-l:hover,
  .button-r:hover::after {
    transform: scaleX(1.05) scaleY(1.08);
  }
  
  
  .nav-down {
    background-color: #fff;
    flex: 1;
    flex-direction: row;
    max-width:144rem;
    height:auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    z-index: 10;
    padding: 1rem;
  
  }
  ul {
    list-style: none;
    color: #fff;
  }
  
  ul li {
    float: left;
    height: 4rem;
    width: 20rem;
    text-align: center;
    padding: 2px;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-size: 1.8rem;
    font-weight:600;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    line-height: 40px;
    cursor: pointer;
    transition: all 0.2 ease;
  
  }
  /*
  @media screen and (max-width: 1026px) {
    ul li  {  
      height: 2.5rem;
      width: 18rem;
      font-size: 1.8rem;
      line-height: 30px;
    }

  
  @media screen and (max-width: 500px) {
    ul li  {  
      height: 4rem;
      width: 20rem;
      font-size: 1.8rem;
      line-height: 25px;
      margin-left: .5rem;
    }
  }    }*/
  
  ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    background-color: var(--color-main);
  }
  
  ul li a:hover {
    background-color: var(--color-main-light);
    
  }
  
  ul li ul li {
    display: none;
  }
  ul li:hover ul li { 
    display: block;
    
  }
  
  /* ----------------------------------------------------------------*/
  .from-to {
      grid-column: 1 / 1;
      background-image:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url(/img/7.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      object-fit: cover;
      overflow: hidden;
      max-width:144rem;
      backface-visibility: hidden; 
      position: relative;
      
      display:grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr);
      gap: 2rem;

  }

  .heading-main {
    grid-column: 1 / span 8;
    grid-row: 2 / span 2;
  
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center
  }
  
  h1 { 
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--color-primary-white);
  }
  
  
  .from {
    grid-column: 1 / span 8;
    grid-row: 5 / span 2;
    padding: 0rem 2rem;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
  .from p {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: initial;
    color: var(--color-primary-white);
  }
  @media screen and (max-width: 1200px) {
    .from p{  
      font-size: 4.5rem;
     
    }
  }
  
  input {
    border: none;
    background-color: transparent;
    padding: 1rem;
    font-size: 2rem;
    border-bottom: 2px dashed rgb(255, 255, 255);
    text-align: center;
    color: white !important;
  
  }
  
  input[type=text] {
    background-color: transparent;
    width: 100%;
    color: white;
    
  }
  
  input[type=submit] {
    background-color: rgb(255, 255, 255);
    color: #fff;
    cursor: pointer;
  }
  

  .book {
    grid-column: 1 / span 8;
    grid-row: 7 / span 2;
    padding: 2rem 0rem; /*  left Btn padding: 0 2rem; */
  
    display: flex;
    justify-content:center;
    align-items: flex-end;
    text-align: center;
   
  
  }
   
  .book button {
    padding: 1.4rem 8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.651);
    color: rgb(73, 70, 70);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--box-shadow-medium);
  }
  
  .book button:hover {
    background-color: var(--color-main-light);
    color: rgb(255, 255, 255);
  
  }
  /*----------------------------------------------------------------*/
  
  .next {
    background-color: var(--color-primary-white);
    grid-column: 1 / 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(13, 1fr);
    gap: 2rem;
  }
  @media screen and (max-width: 768px) {
    .next { 
      grid-template-rows: repeat(10, 1fr);
    }
  }

  .getinsp {
    grid-column: 1 / span 8;
    grid-row: 1 / span 2;  
  
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
  }
  @media only screen and (max-width: 768px) {
    .getinsp {
      grid-row: 1 / span 1; 
    } }
  
  .getinsp h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--color-secondary);
  }
  @media only screen and (max-width: 768px) {
    .getinsp h2{
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: 4px;
    } }


  .getinsp p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: initial;
    color: var(--color-secondary);
  
  }
  @media only screen and (max-width: 768px) {
    .getinsp p{
      font-size: 2.5rem;
      letter-spacing: 4px;
    } }
  @media only screen and (max-width: 544px) {
    .getinsp p{
      font-size: 2.4rem;
    } }
  
  .places {
    background-color: var(--color-primary-white);
    grid-column: 1 / span 8;
    grid-row: 3 / span 8; 

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2rem;
  
  }

  @media only screen and (max-width: 768px) {
    .places  {
      grid-row: 2 / span 8; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } }
  
  .dubai-1 {
    background-image: url(/img/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1 / span 3;
    grid-row: 1 / span 5; 
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }


  @media only screen and (max-width: 768px) {
    .dubai-1,
    .dubai-2,
    .dubai-3,
    .dubai-4,
    .dubai-5,
    .dubai-6 {
     margin: 2rem;
     width:90%;
     height: 50rem;
    } }
  
  .alltxt {
    align-self: flex-start;
    padding: 2rem;
  
  }
  
  .alltxt h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--color-primary-white);
  
  }
  
  .alltxt p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-primary-white);
  
  }

  @media only screen and (max-width: 768px) {
    .alltxt h3{
      font-size: 2.8rem;
      letter-spacing: 4px;
      font-weight: 600;
    } }
    @media only screen and (max-width: 768px) {
      .alltxt p{
        font-size: 2.6rem;
      } }

  .btb-small {
    padding: .5rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.651);
    color: rgb(51, 49, 49);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--shadow-medium);
  }
  @media screen and (max-width: 768px) {
    .btb-small {  
        padding: 2rem 6rem;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 4px;
    }
  }
  
  .dubai-2 {
    background-image: url(/img/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 4 / span 3;
    grid-row: 1 / span 5; 
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .dubai-3 {
    background-image: url(/img/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 7 / span 3;
    grid-row: 1 / span 5; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .dubai-4 {
    background-image: url(/img/16.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1 / span 3;
    grid-row: 6 / span 5; 
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .dubai-5 {
    background-image: url(/img/13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 4 / span 3;
    grid-row: 6 / span 5; 
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .dubai-6 {
    background-image: url(/img/15.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 7 / span 3;
    grid-row: 6 / span 5; 
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .offers {
    grid-column: 1 / span 8;
    grid-row: 12 / span 2; 
    justify-content:center;
    align-items: center;
    text-align: center; 
  }
  @media screen and (max-width: 768px) {
    .offers { 
      grid-row: 10 / span 1; 

      display: flex;
      justify-content:center;
      align-items: center;
    }
  }
  
  .btn-medium {
    padding: 1.5rem 4rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.651);
    color: rgb(51, 49, 49);
    border-radius: 4px;
    box-shadow: var(--shadow-light);
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .btn-medium { 
      padding: 2.5rem 6rem;
      font-size: 2rem;
    }
  }
 
  /*
  .btn-medium  {
    padding: 1.6rem 4.5rem;
  
  }
  
  */
  /*--------------------------------------------------*/

  .pointer {
    background-color: var(--color-primary-white);
    grid-column: 1 / 1;

    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/img/20.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transition: 2s;
    transition: 2s;
    animation: animate;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden; 
  
    display: grid;
    grid-template-columns: repeat(12, min-content);
    grid-template-rows: repeat(12, auto);
    gap: 2rem;
  }
  
  @keyframes animate {
    0% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/img/20.jpg); }
    20% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/img/19.jpg); }
    40% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/img/26.jpg); }
    60% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/img/25.jpg); }
    80% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/img/5.jpg); }
    100% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/img/22.jpg);} 
    }

  .book-session  {
    grid-column: 2 / span 3;
    grid-row: 1 / span 5;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }




.title-medium {
    flex: 0 0 50%;
  
  }
  
  .heading-secondary {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--color-secondary);
  
  }
  
    .form__group {
      flex: 0 0 30%;
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      align-items: center;
      padding: 2rem;
   
  
    }
  
    .group1,
    .group2 {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content:space-around;
      align-items: center;
    }
  
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; 
    }
  
  
  

  
    /*
      @media only screen and (max-width: 56.25em) {
        .form__input {
          width: 100%; 
        }
      } */  

  .form__input {
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 1.5rem 2rem;
    font-weight: 500;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 3px solid transparent;
    border: none;
    width: 80%;
    display: block;
    transition: all .3s; 
  }



  
      .form__input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid #55c57a; 
      }
  
      .form__input:focus:invalid {
        border-bottom: 3px solid #11b0bb; }
      .form__input::-webkit-input-placeholder {
        color: color-grey-dark-2; 
      }
    
    .form__label {
      font-size: 1.3rem;
      font-weight: 500;
      display: block;
      transition: all .3s;
     }
    
    .form__input:placeholder-shown + .form__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem); 
    }
    */
    .search-btn {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
  
    .search-btn  button{
      padding: 1.2rem 8rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 2px;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.651);
      color: rgb(255, 255, 255);
      border-radius: 4px;
      box-shadow: var(--shadow-light);
      border: none;
      cursor: pointer;
    }
  
    .search-btn  button:hover {
      background-color: #fff;
      color: rgb(0, 0, 0);
    }
  
  
  
  .dots {
    grid-column: 1 / span 22;
    grid-row: 12/ span 2;
  
  }
  
  .ul-dots  {
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    margin: 2rem auto;
  }
  .ul-dots li {
   
    width: 30px;
    height: 20px;
    list-style: none;
  
  }
  
  .btn-circle {
    background-color: #fff;
    padding:12px;
    border-radius: 50%;
    border: none;
    transition: all .2s;
    cursor: pointer;
  }
  
  .btn-circle:hover, 
  .btn-circle:active {
    background-color:#11446e;
  }
  

  /*--------------------------------------------------*/
.about-us {
    background-color: var(--color-primary-white);
    grid-column: 1 / 1;
 
  }
  
  
  .about-us h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--color-main);
    text-align: center;
  }
  @media screen and (max-width: 1200px) {
    .about-us h2 {  
      font-size: 3.5rem;
      font-weight: 500;
      line-height: 2;
      letter-spacing: 4px;
    }
  }
  @media only screen and (max-width: 768px) {
    .about-us h2 {
        font-size: 3.8rem;
        font-weight: 700
    
    } }
  
  
  .about-us p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3;
    letter-spacing: 3px;
    text-transform: initial;
    color: var(--color-secondary);
    text-align: center;
  }
  @media only screen and (max-width: 768px) {
    .about-us p {
        font-size: 2.6rem;
        line-height: 2;
        letter-spacing: 2px;
    
    } }
  @media screen and (max-width: 544px) {
    .about-us p {  
      font-size: 2.4rem;
    
    }
  }
  

/*--------------------------------------------------*/
.awards{
    background-color: var(--color-primary-white);
    grid-column: 1 / 1;
   
    display: flex;
    flex-direction:row;
  }
  @media screen and (max-width: 768px) {
    .awards {  
        flex-direction: column;
    }
  }

  
  .awards-txt {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 35rem;
    height: 35rem;
    padding: 2rem;
  }
  @media screen and (max-width: 768px) {
    .awards-txt {  
        width: 80rem;
        height: 55rem;
        padding: 6rem;
    }
  }


  .icon-box-c {
    height: 8.5rem;
    width: 8.5rem;
    fill: #c69963;
  }

 
 
  
  .awards-txt h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color-secondary);
    text-align: center;
  
  }
  @media screen and (max-width: 768px) {
    .awards h4 {  
        font-size: 3.5rem;
        font-weight: 700;
    }
  }
  @media screen and (max-width: 544px) {
    .awards h4 {  
        font-size: 2.8rem;
        font-weight: 600;
    }
  }

 

  .awards-txt p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: initial;
    color: var(--color-secondary);
    text-align: center;
  
  }
  @media screen and (max-width: 768px) {
    .awards-txt p{  
        font-size: 2.8rem;
        font-weight: 500;
        letter-spacing: 3px;
    }
  }
  
  @media only screen and (max-width: 544px) {
    .awards-txt p{
      font-size: 2.4rem;
      font-weight: 400;
    } }
  
  
  /*--------------------------------------------------*/


.cruise {
    background-color: var(--color-primary-white);
    grid-column: 1 / 1;
  
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(25, 1fr);
    gap: 2rem;
    border-top: var(--line);
  }

  @media screen and (max-width: 768px) {
    .cruise {  
      grid-template-rows: repeat(35, 1fr);
      gap: 0rem;

    }
  }
  
  .cruise-txt {
    grid-column: 1 / span 8;
    grid-row: 1 / span 6;
    text-align: center;
   
  }
  @media screen and (max-width: 768px) {
    .cruise-txt {  
      grid-row: 1/ span 8;

    }
  }
  
  .cruise-txt h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color-main);
    text-align: center;
  
  }
  @media screen and (max-width: 768px) {
    .cruise-txt h2{  
        font-size: 2.8rem;

    }
  }

  @media only screen and (max-width: 544px) {
    .cruise-txt h2{
        font-size: 2.8rem;
    } }
  
  .cruise-txt p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 3px;
    text-transform: initial;
    color: var(--color-secondary);
    text-align: center;
  
  }
  @media screen and (max-width: 768px) {
    .cruise-txt p{  
        font-size: 2.4rem;
        line-height: 1.6;
        font-weight: 400;
        text-align: center;
    }
  }


  
  .cruise-img-1 {
    background-image: url(/img/28.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 4 / span 8;
    grid-row: 8 / span 8;
  
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    align-items:flex-start;
    padding:2rem;
  }
  @media screen and (max-width: 768px) {
    .cruise-img-1{  
      grid-column: 4 / span 8;
      grid-row: 9 / span 16;

    }
  }
  
  
  .cruise-img-2 {
    background-image: url(/img/27.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1 / span 3;
    grid-row: 8/ span 16;
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    align-items:center;
  }

  @media screen and (max-width: 768px) {
    .cruise-img-2{  
      grid-column: 1 / span 3;
      grid-row: 9 / span 16;

    }
  }
  
  .cruise-img-3 {
    background-image:  url(/img/29.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 4 / span 3;
    grid-row: 16/ span 8;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
  }

  @media screen and (max-width: 768px) {
    .cruise-img-3{  
      grid-column: 1 / span 4;
      grid-row: 25 / span 10;
      justify-content:flex-end;
      align-items:flex-start;
      padding: 1rem;
    }
  }
  .cruise-img-4 {
    background-image: url(/img/33.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 7 / span 5;
    grid-row: 16/ span 8;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
  }
  @media screen and (max-width: 768px) {
    .cruise-img-4{  
      grid-column: 5 / span 4;
      grid-row: 25 / span 10;
      justify-content:flex-end;
      align-items:flex-start;
      padding: 1rem;
    }
  }
  
  .cruise-img-1 h2,
  .cruise-img-2 h2,
  .cruise-img-3 h2,
  .cruise-img-4 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color-primary-white);
    text-align: center;
  }
  
  .cruise-img-1 p,
  .cruise-img-2 p,
  .cruise-img-3 p,
  .cruise-img-4 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-primary-white);
    text-align: center;
  }
  
  
  /*--------------------------------------------------*/

  .footer {
    background-color: var(--color-primary-white);
    grid-column: 1 / 1;
    min-height: 30vh;
    display: flex;
    flex-direction: row;
  }

    .nav-down1,
    .nav-down2,
    .nav-down3,
    .nav-down4 {
        margin: 0 auto;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;

        text-align: center;
        width: 23rem;
        height: 40rem;
        padding-bottom: 4rem;
    }
    .nav-down1 p,
    .nav-down2 p,
    .nav-down3 p,
    .nav-down4 p{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 10%;

        font-family: 'Montserrat', sans-serif;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: var(--color-main);
        text-align: center;
        
    }

    @media only screen and (max-width: 768px) {
        .nav-down1 p,
        .nav-down2 p,
        .nav-down3 p,
        .nav-down4 p{
            font-size: 2.8rem;
            font-weight: 600;
        } }
    @media only screen and (max-width: 544px) {
        .nav-down1 p,
        .nav-down2 p,
        .nav-down3 p,
        .nav-down4 p{
            font-size: 2.4rem;
            font-weight: 600;
        } }
        
    .nav-down1 li,
    .nav-down2 li,
    .nav-down3 li,
    .nav-down4 li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;

        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2;
        letter-spacing: 2px;
        text-transform: initial;
        color: var(--color-secondary);
        text-align: center;
        cursor: pointer;
    }

    @media only screen and (max-width: 768px) {
        .nav-down1 li,
        .nav-down2 li,
        .nav-down3 li,
        .nav-down4 li {
          font-size: 2rem;
          font-weight: 400;
        } }
    .nav-down1 li:hover,
    .nav-down2 li:hover,
    .nav-down3 li:hover,
    .nav-down4 li:hover {
        transform: translateY(-3px);
        border: 1px solid #cec8c8; 
    }


.footer-social{
    background-color: var(--color-main);
    grid-column: 1 / span 8;
    grid-row: 60 / span 2;

    display: flex;
    flex-direction:column;
}

@media only screen and (max-width: 768px) {
  .footer-social {
      min-height: 15vh;
  } }

.icons-area {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding:2rem;
 
}
.icon-box-x {
    width: 3.5rem;
    height: 3.5rem;
    fill:#fff;
    cursor: pointer;
  }


.copy {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
  }
  
  
  
  .copy p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: initial;
    color: var(--color-primary-white);
    text-align: center;
  
  }
  
 